# Bad Password and the NIST Guidelines

As you will see, again I will using the datacamp project

To respect the author I will not shared in this repo, if you want it, just dm me or buy datacamp subscriptions

## # Introduction
<p><img src="https://i.imgur.com/kjWF1So.jpg" alt="Different characters on a computer screen"></p>
<p>According to a 2019 <a href="https://storage.googleapis.com/gweb-uniblog-publish-prod/documents/PasswordCheckup-HarrisPoll-InfographicFINAL.pdf">Google / Harris Poll</a>, 24% of Americans have used common passwords, like <code>abc123</code>, <code>Password</code>, and <code>Admin</code>. Even more concerning, 59% of Americans have incorporated personal information, such as their name or birthday, into their password. This makes it unsurprising that 4 in 10 Americans have had their personal information compromised online. Passwords with commonly used phrases and personal information makes cracking a password drastically easier.</p>
<p>You may have noticed over the years that password requirements have increased in complexity, including recommendations to change your passwords every couple of months. Compiled from industry recommendations, below is a list of passwords requirements you will be asked to test: </p>
<p><strong>Password Requirments:</strong></p>
<ol>
<li>Must be at least 10 characters in length</li>
<li>Must contain at least:<ul>
<li>one lower case letter </li>
<li>one upper case letter </li>
<li>one numeric character </li>
<li>one non-alphanumeric character</li></ul></li>
<li>Must not contain the phrase <code>password</code> (case insensitive)</li>
<li>Must not contain the user's first or last name, e.g., if the user's name is <code>John Smith</code>, then <code>SmItH876!</code> is not a valid password.</li>
</ol>
<p>Here is the dataset that you will investigate this project:</p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/logins.csv</b></div>
Each row represents a login credential. There are no missing values and you can consider the dataset "clean".
<ul>
    <li><b>id:</b> the user's unique ID.</li>
    <li><b>username:</b> the username with the format {firstname}.{lastname}.</li>
    <li><b>password:</b> the password that may or may not meet the requirements. <i>Note, passwords should never be saved in plaintext, always encrypt them when working with real live passwords!</i></li>
</ul>
</div>
<p>Warning: This dataset contains some <strong>real</strong> passwords leaked from <strong>real</strong> websites. These passwords have been filtered, but may still include words that are explicit and offensive.</p>
<p>From here on out, it will be your task to explore and manipulate the existing data until you can answer the two questions described in the instructions panel. Feel free to import as many packages as you need to complete your task, and add cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><strong>Note:</strong> To complete this project, you need to know how to manipulate strings in pandas DataFrames and be familiar with regular expressions. Before starting this project we recommend that you have completed the following courses: <a href="https://learn.datacamp.com/courses/data-cleaning-in-python">Data Cleaning in Python</a> and <a href="https://learn.datacamp.com/courses/regular-expressions-in-python">Regular Expressions in Python</a>.</p>

## Importing Modules and Datasets

In [1]:
import pandas as pd

In [2]:
logins = pd.read_csv('datasets/logins.csv')
logins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        982 non-null    int64
 1   username  982 non-null    object
 2   password  982 non-null    object
dtypes: int64(1), object(2)
memory usage: 23.1+ KB

In [3]:
logins.head()

   id         username               password
0   1   vance.jennings         vanceRules888!
1   2   consuelo.eaton  Mail_Pen%Scarlets.414
2   3  mitchel.perkins               Z00+1960
3   4   odessa.vaughan              D-rockyou
4   5   araceli.wilder             Araceli}r3

## Rule 1: Must be at least 10 character length

In [4]:
length_pass = logins['password'].str.len() >= 10
length_pass.head()

0     True
1     True
2    False
3    False
4     True
Name: password, dtype: bool

In [5]:
valid_passwd = logins[length_pass]
valid_passwd.head()

   id          username               password
0   1    vance.jennings         vanceRules888!
1   2    consuelo.eaton  Mail_Pen%Scarlets.414
4   5    araceli.wilder             Araceli}r3
5   6  shawn.harrington            126_239_123
6   7        evelyn.gay           `4:&iAt$'o~(

In [6]:
bad_passwd = logins[~length_pass]
bad_passwd.head()

    id         username   password
2    3  mitchel.perkins   Z00+1960
3    4   odessa.vaughan  D-rockyou
9   10  brant.zimmerman  L?4)OSB$r
16  17     domingo.dyer    VeOw{*p
17  18   martin.pacheco  MP1985???

In [7]:
bad_passwd.shape[0], valid_passwd.shape[0]

(422, 560)

## Rule 2: one lower case, one upper case, one numeric, one non-alphanumeric

In [8]:
low_case = valid_passwd['password'].str.contains('[a-z]')
up_case = valid_passwd['password'].str.contains('[A-Z]')
num_case = valid_passwd['password'].str.contains('\d')
nonum_case = valid_passwd['password'].str.contains('\W')

In [9]:
pd.concat([valid_passwd, low_case, up_case, num_case, nonum_case], axis=1)

,id,username,password,password,password,password,password
0,1,vance.jennings,vanceRules888!,True,True,True,True
1,2,consuelo.eaton,Mail_Pen%Scarlets.414,True,True,True,True
4,5,araceli.wilder,Araceli}r3,True,True,True,True
5,6,shawn.harrington,126_239_123,False,False,True,False
6,7,evelyn.gay,`4:&iAt$'o~(,True,True,True,True
...,...,...,...,...,...,...,...
975,976,freeman.rose,cHw2Leth5JXY,True,True,True,False
976,977,monica.flores,*;~a8dq5%s',True,False,True,True
978,979,miriam.haynes,Gizzard.Muse+Patters_857,True,True,True,True
979,980,genaro.russo,Rm3OwUfobjYxq,True,True,True,False
981,982,elmer.mccormick,IzXEo2ghZBJm,True,True,True,False

In [10]:
char_check = low_case & up_case & num_case & nonum_case

bad_passwd = bad_passwd.append(valid_passwd[~char_check], ignore_index=True)
valid_passwd = valid_passwd[char_check]

In [11]:
bad_passwd.shape[0], valid_passwd.shape[0]

(724, 258)

## Rule 3: Must not contains the phrase password (case insensitve)

In [12]:
banned_phrases = valid_passwd['password'].str.contains('password', case=False)

bad_passwd = bad_passwd.append(valid_passwd[banned_phrases], ignore_index=True)
valid_passwd = valid_passwd[~banned_phrases]

In [13]:
bad_passwd.shape[0], valid_passwd.shape[0]

(725, 257)

## Rule 4: must not contain the user's first or last name

In [14]:
valid_passwd['first_name'] = valid_passwd['username'].str.extract('(^[a-z]+)', expand = False)
valid_passwd['last_name'] = valid_passwd['username'].str.extract('([a-z]+$)')

In [15]:
valid_passwd.head()

   id        username               password first_name last_name
0   1  vance.jennings         vanceRules888!      vance  jennings
1   2  consuelo.eaton  Mail_Pen%Scarlets.414   consuelo     eaton
4   5  araceli.wilder             Araceli}r3    araceli    wilder
6   7      evelyn.gay           `4:&iAt$'o~(     evelyn       gay
8   9     gladys.ward            =Wj1`i)xYYZ     gladys      ward

In [16]:
for i, row in valid_passwd.iterrows():
    if row.first_name in row.password.lower() or row.last_name in row.password.lower():
        print(row)
        valid_passwd = valid_passwd.drop(index=i)
        bad_passwd = bad_passwd.append(row, ignore_index=True)

id                         1
username      vance.jennings
password      vanceRules888!
first_name             vance
last_name           jennings
Name: 0, dtype: object
id                         5
username      araceli.wilder
password          Araceli}r3
first_name           araceli
last_name             wilder
Name: 4, dtype: object
id                         12
username      milford.hubbard
password         Milford<3Tom
first_name            milford
last_name             hubbard
Name: 11, dtype: object
id                        141
username        ronald.brooks
password      P1G_bT”_zBrooks
first_name             ronald
last_name              brooks
Name: 140, dtype: object
id                       150
username      raymundo.haley
password      HaleyComet333$
first_name          raymundo
last_name              haley
Name: 149, dtype: object
id                      668
username      simon.miranda
password         SimonR0ck$
first_name            simon
last_name           miranda
Name: 667, dtype: object
id                       750
username      irvin.martinez
password       bananaIrvin8)
first_name             irvin
last_name           martinez
Name: 749, dtype: object
id                      790
username          sean.leon
password      SeansPa$$w0rd
first_name             sean
last_name              leon
Name: 789, dtype: object
id                        829
username            ted.horne
password      dakota&ted4Ever
first_name                ted
last_name               horne
Name: 828, dtype: object
id                       926
username      houston.garcia
password      earth2Houston!
first_name           houston
last_name             garcia
Name: 925, dtype: object
id                       965
username      chrystal.burns
password         ChRYSTAL90?
first_name          chrystal
last_name              burns
Name: 964, dtype: object

In [17]:
valid_passwd.head()

    id        username                    password first_name last_name
1    2  consuelo.eaton       Mail_Pen%Scarlets.414   consuelo     eaton
6    7      evelyn.gay                `4:&iAt$'o~(     evelyn       gay
8    9     gladys.ward                 =Wj1`i)xYYZ     gladys      ward
13  14   jamie.cochran  Deviants.Assists.Impede+24      jamie   cochran
15  16      lorrie.gay                Q0G:[@u9*_`_     lorrie       gay

In [18]:
bad_passwd.head()

   id         username   password first_name last_name
0   3  mitchel.perkins   Z00+1960        NaN       NaN
1   4   odessa.vaughan  D-rockyou        NaN       NaN
2  10  brant.zimmerman  L?4)OSB$r        NaN       NaN
3  17     domingo.dyer    VeOw{*p        NaN       NaN
4  18   martin.pacheco  MP1985???        NaN       NaN

## Solve First Question

In [19]:
bad_pass = round(bad_passwd.shape[0]/logins.shape[0], 2)
bad_pass

0.75

## Solve Second Question

In [20]:
email_list = bad_passwd['username'].sort_values()
print(email_list)

405       abdul.rowland
309        addie.cherry
372        adele.moreno
517        adeline.bush
279         adolfo.kane
             ...
373    yvette.whitfield
232        yvonne.munoz
264        zachary.huff
172        zelma.abbott
49        zelma.rosario
Name: username, Length: 736, dtype: object