# Item-Based Recommender Using Nearest Neighbor

Tutorial: [sogeeked](https://www.youtube.com/watch?v=dEwl5_QFYNI)

Dataset: [MovieLens-1M](https://grouplens.org/datasets/movielens/)

## Import Modules

In [10]:
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
import pandas as pd
import numpy as np

In [16]:
ratings = pd.read_csv('ratings.dat', delimiter="::", names=['userid', 'movieid', 'rating', 'timestamp'])
movies = pd.read_csv('movies.dat', delimiter="::", names=['movieid', 'title', 'genres'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [17]:
ratings.shape

(1000209, 4)

In [18]:
movies.shape

(3883, 3)

In [19]:
ratings.head()

   userid  movieid  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [20]:
movies.head()

   movieid                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [21]:
df_new = pd.merge(ratings, movies, on='movieid').drop(['timestamp', 'genres'], axis=1)

In [22]:
df_new.shape

(1000209, 4)

In [23]:
df_new.head()

   userid  movieid  rating                                   title
0       1     1193       5  One Flew Over the Cuckoo's Nest (1975)
1       2     1193       5  One Flew Over the Cuckoo's Nest (1975)
2      12     1193       4  One Flew Over the Cuckoo's Nest (1975)
3      15     1193       4  One Flew Over the Cuckoo's Nest (1975)
4      17     1193       5  One Flew Over the Cuckoo's Nest (1975)

In [24]:
missing_pivot = df_new.pivot_table(values='rating', index='userid', columns='title')

In [25]:
missing_pivot.head()

title   $1,000,000 Duck (1971)  ...  eXistenZ (1999)
userid                          ...
1                          NaN  ...              NaN
2                          NaN  ...              NaN
3                          NaN  ...              NaN
4                          NaN  ...              NaN
5                          NaN  ...              NaN

[5 rows x 3706 columns]

In [26]:
len(missing_pivot)

6040

Identify movies each user have rated

In [28]:
rate = {}
rows_indexes = {}
for i, row in missing_pivot.iterrows():
  rows = [x for x in range(0, len(missing_pivot.columns))]
  combine = list(zip(row.index, row.values, rows))
  rated = [(x,z) for x,y,z in combine if str(y) != 'nan']
  index = [i[1] for i in rated] 
  row_names = [i[0] for i in rated]
  rows_indexes[i] = index
  rate[i] = row_names

These are their rated movies

In [ ]:
rate

In [32]:
pivot_table = df_new.pivot_table(values='rating', index='userid', columns='title').fillna(0)

In [33]:
pivot_table = pivot_table.apply(np.sign)

In [34]:
pivot_table.head()

title   $1,000,000 Duck (1971)  ...  eXistenZ (1999)
userid                          ...
1                          0.0  ...              0.0
2                          0.0  ...              0.0
3                          0.0  ...              0.0
4                          0.0  ...              0.0
5                          0.0  ...              0.0

[5 rows x 3706 columns]

Movies not rated by user

In [35]:
notrated = {}
notrated_indexes = {}
for i,row in pivot_table.iterrows():
  rows = [x for x in range(0, len(missing_pivot.columns))]
  combine = list(zip(row.index, row.values, row))
  idx_row = [(idx, col) for idx, val, col in combine if not val > 0]
  indices = [i[1] for i in idx_row]
  row_names = [i[0] for i in idx_row]
  notrated_indexes[i] = indices
  notrated[i] = row_names

In [ ]:
notrated

## Unsupervised: Nearest Neighbor Recommender

In [39]:
n = 5
cosine_nn = NearestNeighbors(n_neighbors = n, algorithm='brute', metric='cosine')
item_cosine_nn_fit = cosine_nn.fit(pivot_table.T.values)
item_distances, item_indices = item_cosine_nn_fit.kneighbors(pivot_table.T.values)

### Item-Based Recommender

In [38]:
items_dic = {}
for i in range(len(pivot_table.T.index)):
  item_idx = item_indices[i]
  col_names = pivot_table.T.index[item_idx].tolist()
  items_dic[pivot_table.T.index[i]] = col_names

In [40]:
top_rec = {}
for k, v in rows_indexes.items():
  item_idx = [j for i in item_indices[v] for j in i]
  item_dist = [j for i in item_distances[v] for j in i]
  combine = list(zip(item_dist, item_idx))
  diction = {i:d for d,i in combine if i not in v}
  zipped = list(zip(diction.keys(), diction.values()))
  sort = sorted(zipped, key=lambda x: x[1])
  recommendations = [(pivot_table.columns[i], d) for i, d in sort]
  top_rec[k] = recommendations

In [41]:
def get_recommendations(user, number_of_recs = 30):
  if user > len(pivot_table.index):
    print("Out of range, there are only {} users. Please try again!".format(len(pivot_table.index)))
  else:
    print("These are all the movies you have view in the past: \n\n{}".format('\n'.join(rate[user])))
    print()
    print("We recommended to view these movies too:\n")
  for k, v in top_rec.items():
    if user == k:
      for i in v[:number_of_recs]:
        print("{} with similarity: {:.4f}".format(i[0], 1 - i[1]))

The top recommendations

In [ ]:
get_recommendations(1)

## Make Recommendations

### Recommendation for movies users had not seen before

In [47]:
item_distances = 1 - item_distances
predictions = item_distances.T.dot(pivot_table.T.values) / np.array([np.abs(item_distances.T).sum(axis=1)]).T
ground_truth = pivot_table.T.values[item_distances.argsort()[0]]

### Evaluation for recommendation predictions

In [48]:
def rmse(prediction, ground_truth):
  prediction = prediction[ground_truth.nonzero()].flatten()
  ground_truth = ground_truth[ground_truth.nonzero()].flatten()
  return sqrt(mean_squared_error(prediction, ground_truth))

In [49]:
error_rate = rmse(predictions, ground_truth)
print("Accuracy: {:.3f}".format(100 - error_rate))
print("RMSE: {:.5f}".format(error_rate))

Accuracy: 99.145
RMSE: 0.85503

Thanks